  <app-header titulo="DateTime">
    
  </app-header>
  
  <ion-content>
    
    <ion-list-header>
      <ion-label>
        Datas De Nascimento
      </ion-label>
    </ion-list-header>
    <ion-list>
      
      <ion-item>
        <ion-label>Data de Nascimento</ion-label>
        <!-- Criação de um ion-datetime com valor que captura fichaNasc | e o tipo da data -->
        <ion-datetime placeholder="Nascimento"
        value="{{fichaNasc | date: 'yyyy-MM-dd' }}"
        display-format="YYYY MM DD"
        cancelText="Cancelar!!"
        [(ngModel)]="fichaNasc"
        (ionChange)="FechaCalendar($event)"
        ></ion-datetime>
      </ion-item>

      <ion-list-header>
        <ion-label> Restrições </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Min e Max</ion-label>
        <ion-datetime
        placeholder="Ano-Mes-Dia"
        display-format="YYYY MM DD"
        min="1998-01-01"
        max="2020-12-31">
        </ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-label>Custom Data</ion-label>
        <ion-datetime
        [pickerOptions]="customPickerOptions"
        [(ngModel)]="customDate">

        </ion-datetime>
      </ion-item>
    
    </ion-list>  
  
  </ion-content>
  