<ion-header no-border>
  <ion-toolbar>
    
    <!-- UMA LISTA DE BUTONS -->
    <ion-buttons slot="start">
      <ion-back-button text="Voltar" defaultHref="/">        
      </ion-back-button>
      
    </ion-buttons>
    <!-- PRO TITULO FICAR DINAMICO -->
    <ion-title text-capitalize>{{titulo}}</ion-title>
  </ion-toolbar>
</ion-header>