<app-header titulo="CheckBox">
  
</app-header>

<ion-content padding>
  
  <ion-list>
    <!-- Um For que captura dados deum json criado em check.page.ts  -->
    <ion-item *ngFor="let check of data" (click)="onClick(check)">
      <ion-label>{{check.name}}</ion-label>
      <ion-checkbox [(ngModel)]="check.selected"
      [color]="check.name">
      
    </ion-checkbox>
  </ion-item>
</ion-list>

</ion-content>
