<app-header titulo="Action Sheet"></app-header>

<ion-content padding>
    
    <ion-button color="primary" 
    expand="full"
    (click)="presentActionSheet()">
    Mostrar Action Sheet
</ion-button>
</ion-content>
