<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaulttHref="/"></ion-back-button>
    </ion-buttons>
    
    <ion-title>Avatar</ion-title>
    
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="/assets/stalin.jpg">
      </ion-avatar>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- São pequenas entiquetas com icone e a label -->
  <ion-chip color="primary" *ngFor="let i of [1,1,1,1,1,1,1,1]">
    <ion-avatar>
      <img src="/assets/stalin.jpg"> 
    </ion-avatar>
    <ion-label>Stalin</ion-label>
  </ion-chip>
  
  <!-- sao labels com o avatar impresso -->
  <ion-list>
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1,1]">
      <ion-avatar slot="start">
        <img src="/assets/stalin.jpg"> 
      </ion-avatar>
      <ion-label>Stalin</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
