<app-header titulo="Card"></app-header>

<ion-content padding>
  
  <!-- ion card de header com texto em baixo -->
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <!-- ion card de teste com icon -->
  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="navigate-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    
    <ion-card-content>
      Um puta texto para prencher buracos da card veremos como se adaptar dentro desse retangulo inutil e zuado.
    </ion-card-content>
  </ion-card>

  <!-- ioncard para ultilizar imagens -->
  <ion-card mode="ios">
    <ion-img src="/assets/shapes.svg"></ion-img>
  </ion-card>
  
</ion-content>
